$primary-color: #333;
$error-color: darkred;

/* backgrounds */
$primary-bg-color: #FFF;
$primary-menu-bg-color: #324255;
$secundary-menu-bg-color: #47586C;
$primary-menu-text-color: #ADB8C5;
$secundary-menu-text-color: #FFF;

$fab-match-wait: #bb3131;
$fab-match-go: #31bb55;
$fab-match-shot: #59bb9a;

$box-me: #47586C;
$box-me-ship: #47586C;
$box-me-ship-hit: #47586C;

$box-fire: #47586C;
$box-fire-hit: #47586C;
$box-fire-miss: #47586C;