$primary-color: #333;
$error-color: darkred;

/* backgrounds */
$primary-bg-color: #FFF;
$primary-menu-bg-color: #324255;
$secundary-menu-bg-color: #47586C;
$primary-menu-text-color: #ADB8C5;
$secundary-menu-text-color: #FFF;