@import "../globals/all";

body {

  width: 100%;
  height: 100%;

  background: $primary-bg-color;
}

.noselect {

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

md-card[md-ink-ripple] {

  position: relative;

  cursor: pointer;
}

md-toast {

  height: auto !important;
}

.capitalize {

  text-transform: capitalize;
}

.mgn-t-35 {

  margin-top: 35px;
}

.ng-scope {

  height: 100%;
}

.max-height {

  height: 100%;
}

.title {

  font-size: 19px;
}

.menu-fab {

  position: fixed;

  z-index: 1;

  left: 10px;
  top: 10px;
}

.challenge-fab {

  position: fixed;

  z-index: 1;

  right: 10px;
  bottom: 10px;
}

.status-fab {

  position: fixed;

  z-index: 1;

  left: 10px;
  bottom: 10px;
}

.shots-fab {

  position: fixed;

  z-index: 1;

  left: 70px;
  bottom: 10px;

  line-height: 0 !important;
}

.send-fab {

  position: fixed;

  z-index: 1;

  left: 130px;
  bottom: 10px;
}

.status-fab-wait {

  background-color: $fab-match-wait !important;
}

.status-fab-go {

  background-color: $fab-match-go !important;
}

.status-fab-shot {

  background-color: $fab-match-shot !important;
}

.box-board {

  width: 24px;
  height: 24px;

  margin: 1px;
}

.box-me {

  background-color: #47586C;
}

.box-ship {

  background-color: #cac242;
}

.box-missed {

  background-color: #e4b320;
}

.box-ship-destroy {

  background-color: #984844;
}

.box-selected {

  -webkit-transform: scale(0.7, 0.7);
  transform: scale(0.7, 0.7);
}

.board-space {

  margin-top: 45px;
}

@media (max-width: 965px) {

  .box-board {

    width: 18px;
    height: 18px;
  }
}

@media (max-width: 770px) {

  .box-board {

    width: 18px;
    height: 18px;
  }

  .board-orientation {

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}