<md-dialog aria-label="challenge a player \o/">

    <form name="form" ng-cloak>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Challenge a Player \o/</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block" flex-gt-sm>

                    <label class="capitalize">ip address</label>

                    <input name="ipAddress"
                           placeholder="000.000.000.000"
                           ng-model="vm.challenge.connection.host"
                           ng-pattern="/^[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}$/"
                           md-maxlength="15"
                           required>

                    <div ng-messages="form.ipAddress.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">You must supply an ip address format.</div>
                        <div ng-message="pattern" class="my-message">That doesn't look like a valid ip address.</div>
                        <div ng-message="md-maxlength" class="my-message">Don't use the long version silly...</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>

                    <label class="capitalize">port</label>

                    <input name="port"
                           placeholder="9000"
                           ng-model="vm.challenge.connection.port"
                           ng-pattern="/^[0-9]{3,5}$/"
                           md-maxlength="5"
                           required>

                    <div ng-messages="form.port.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">You must supply a port.</div>
                        <div ng-message="pattern" class="my-message">That doesn't looks like a valid port.</div>
                        <div ng-message="md-maxlength" class="my-message">Don't use the long version silly...</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>

                    <label class="capitalize">rules</label>

                    <md-select name="rules"
                               ng-model="vm.challenge.rule"
                               required>
                        <md-option value="incrementer">incrementer</md-option>
                        <md-option value="decrementer">decrementer</md-option>
                        <md-option value="x-shot">x-shot</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block mgn-t-35" flex-gt-sm
                                    ng-show="vm.challenge.rule === 'x-shot'">

                    <label class="capitalize">max shots</label>

                    <input name="maxShots"
                           placeholder="5"
                           ng-model="vm.shots"
                           ng-pattern="/^([1-9]|[1-1][0-0])$/"
                           md-maxlength="2"
                           ng-required="vm.challenge.rule === 'x-shot'">

                    <div ng-messages="form.maxShots.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">You must supply a shots between 1 and 10.</div>
                        <div ng-message="pattern" class="my-message">That doesn't looks like a valid shots.</div>
                        <div ng-message="md-maxlength" class="my-message">Don't use the long version silly...</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="challenge(vm.challenge, vm.shots)" ng-disabled="form.$invalid || form.$pristine">challenge!
            </md-button>
            <md-button ng-click="cancel()">not yet :(</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>